In [26]:
import pandas as pd
import sqlite3

In [23]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("imdb.sqlite")
ratings_df = pd.read_sql_query("SELECT * from ratings", con)
movies_df = pd.read_sql_query("SELECT * from movies", con)

names_df = pd.read_sql_query("SELECT * from names", con)

# Verify that result of SQL query is stored in the dataframe
print(movies_df.head())

con.close()
len(names_df)

      tconst titleType                    primaryTitle  \
0  tt0000009     movie                      Miss Jerry
1  tt0000147     movie   The Corbett-Fitzsimmons Fight
2  tt0000502     movie                        Bohemios
3  tt0000574     movie     The Story of the Kelly Gang
4  tt0000679     movie  The Fairylogue and Radio-Plays

                    originalTitle  isAdult startYear endYear runtimeMinutes  \
0                      Miss Jerry      0.0      1894      \N             45
1   The Corbett-Fitzsimmons Fight      0.0      1897      \N             20
2                        Bohemios      0.0      1905      \N            100
3     The Story of the Kelly Gang      0.0      1906      \N             70
4  The Fairylogue and Radio-Plays      0.0      1908      \N            120

                   genres
0                 Romance
1  Documentary,News,Sport
2                      \N
3   Biography,Crime,Drama
4       Adventure,Fantasy

989105

In [17]:
inner_join_df= pd.merge(movies_df, ratings_df, on='tconst', how='inner')

In [25]:

inner_join_df
inner_join_df.to_csv("IMDBmovieRatings.csv", sep='@', encoding='utf-8')
names_df.to_csv("IMDBnames.csv", sep='@', encoding='utf-8')

In [27]:
inner_join_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894,\N,45,Romance,5.4,81.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897,\N,20,"Documentary,News,Sport",5.2,310.0
2,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906,\N,70,"Biography,Crime,Drama",6.1,538.0
3,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0.0,1908,\N,120,"Adventure,Fantasy",4.8,32.0
4,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0.0,1910,\N,58,"Adventure,Drama",3.1,11.0
...,...,...,...,...,...,...,...,...,...,...,...
210977,tt9914286,movie,Sokagin Çocuklari,Sokagin Çocuklari,0.0,2019,\N,98,"Drama,Family",7.1,190.0
210978,tt9914642,movie,Albatross,Albatross,0.0,2017,\N,97,Documentary,8.4,18.0
210979,tt9914644,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,0.0,2018,\N,120,Documentary,8.4,28.0
210980,tt9914942,movie,La vida sense la Sara Amat,La vida sense la Sara Amat,0.0,2019,\N,74,Drama,6.9,39.0
210981,tt9916160,movie,Drømmeland,Drømmeland,0.0,2019,\N,72,Documentary,6.5,31.0

In [34]:
#inner_join_df.drop('titleType', axis=1, inplace=True)
#inner_join_df.drop('originalTitle', axis=1, inplace=True)
inner_join_df.drop('isAdult', axis=1, inplace=True)
inner_join_df.drop('endYear', axis=1, inplace=True)
inner_join_df.drop('numVotes', axis=1, inplace=True)

In [41]:
inner_join_df
inner_join_df.to_csv("moviesTSV.tsv", sep ="\t")

In [43]:
names_df
names_df.drop('nconst', axis=1, inplace=True)
names_df.drop('birthYear', axis=1, inplace=True)
names_df.drop('deathYear', axis=1, inplace=True)
names_df.drop('primaryProfession', axis=1, inplace=True)

In [45]:
names_df.to_csv("names.tsv", sep ="\t")

names_df